@{
    ViewBag.Title = "Privacy";
}

<h2>Privacy</h2>


<h5>
    <p>
        When you use our services, you’re trusting us with your information.
        We understand that this is a big responsibility and we work hard to protect
        your information and put you in control.
    </p>
    <p>
        The information you gave us will not be passed on to third parties.
    </p>
</h5>
